<div fxLayout="column" fxLayoutGap="1em">
    <div fxLayout="row">
        <span style="margin-left: 1em; margin-top: 2em;font-size: large;">Question Management Page</span>
    </div>
    <div>
        <hr style="margin-left: 1em; margin-right: 1em;">
    </div>
    <div>
        <button routerLink="/create" mat-raised-button style="margin-left: 1em;" color="accent">Create</button>
        <button routerLink="/answer" mat-raised-button style="margin-left: 1em;" color="primary">Answer</button>
        <button mat-raised-button style="margin-left: 1em;" color="warn" (click)="clear()">Clear</button>
    </div>
    <div *ngIf="data.Questions && data.Questions.length > 0; else noQuestions" fxLayout="column">
        <table style="margin-left: 1em; margin-right: 1em">
            <thead>
                <tr style="text-align: left;">
                    <th>Question</th>
                    <th>Type</th>
                    <th>Create date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of sortedByCreateDate()">
                    <td>{{item.Question}}</td>
                    <td>{{item.Type | eQuestionTypesPipe}}</td>
                    <td>{{item.CD | date:'medium'}}</td>
                    <td>
                        <div>
                            <button routerLink="/edit" [queryParams]="{ id: item.Id }">Edit</button>
                            <button (click)="delete(item)">Delete</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<ng-template #noQuestions>
    <div>
        <h3 style="margin-left: 1em;">
            Create your first question!
        </h3>
    </div>
</ng-template>